@using Microsoft.AspNetCore.Identity;
@model FoundByEmailViewModel

@{
    ViewBag.Title = "Users found By email";
}

<h2 class="text-center">@ViewBag.Title</h2>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"><h5>User name</h5></th>
            <th scope="col"><h5>Email</h5></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.User.UserName</td>
            <td>@Model.User.Email</td>
            @if (Model.IsInRolePlayer)
            {
                <td>Player</td>
            }
            else
            {
                <td>
                    <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="User" asp-action="AddToPlayers" asp-route-id="@Model.User.Id">Add to player role</a>
                </td>
            }
        </tr>
    </tbody>
</table>