@model List<GameViewModel>

@{
    ViewBag.Title = "All Games";
}

<h2 class="text-center">@ViewBag.Title</h2>
@if (User.IsInRole($"{CoachRoleName}") || User.IsInRole($"{PlayerRoleName}"))
{
    <a class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="Game" asp-action="Add">Add new Game</a>
}

<partial name="_GamePartial" model="@Model" />